body {

}

a[ui-sref] {
    color: burlywood;
    font-size: medium;
}

div .temp {
    color: white;
    font-weight: bold;
}

div .small {
    font-size: 10px;
}

div .medium {
    font-size: 12px;
}

div .big {
    font-size: 14px;
}

span.highlight {
    color: gold;
    font-weight: bold;
}

a.left {
    float: left;
    cursor: pointer;

}

a.right {
    float: right;
    cursor: pointer;
}

th.action {
    width: 120px;
}