<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceIngredient" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62925/Service/ServiceIngredient.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceIngredient"
                contract="ServiceIngredient.IServiceIngredient" name="BasicHttpBinding_IServiceIngredient" />
        </client>
    </system.serviceModel>
</configuration>