<div>
    <ul class="list-unstyled">
        <li><a ui-sref="vegetable">Vegetable</a></li>
        <li><a ui-sref="dairy">Dairy Products</a></li>
        <li><a ui-sref="meat">Meat</a></li>
        <li><a ui-sref="sea">Seafood</a></li>
        <li><a ui-sref="processed">Processed Foods</a></li>
        <li><a ui-sref="others">Others</a></li>
    </ul>

    <div class="temp">
        <!--<button class="btn btn-warning" ng-click="navigationLinks.goToHome()">Back to Home</button> |--> 
        <button class="btn btn-primary" ng-click="navigationLinks.addIngredient()">Add Ingredient</button> | 
        <button class="btn btn-primary" ng-click="navigationLinks.updateIngredient()">Edit Ingredient</button> |
        <button class="btn btn-primary" ng-click="navigationLinks.removeIngredient()">Remove Ingredient</button>
    </div>
</div>