<div class="temp big">
    <h2>Vegetables List</h2>

    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-center">Description</th>
                    <th>Price</th>
                    <th>Unit of Measure</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="veg in veggies">
                    <td>{{veg.Name}}</td>
                    <td>{{veg.Description}}</td>
                    <td class="text-right">{{veg.Price | currency}}</td>
                    <td>per {{veg.UnitOfMeasure}}</td>
                </tr>
            </tbody>
        </table>
        <br />
        <span ng-show={{errorMessage}}>May error dude!</span>
        <button class="btn btn-warning" ng-click="navigationLinks.goToMarket()">Back to Market</button>
    </div>
</div>